@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../global.css');

body{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25%;
}

/* Login container and Form Styles */
form#login__form, 
form#login__register_form, 
article#login__form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: 80%;
}

/* Styles inside of the form */
article#login__form_container {
  background-color: var(--tertiary);
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  width: 100%;
}

article#login__form_container h1 {
  color: var(--secondary);
}

article#login__form_container p {
  margin-bottom: 10px;
}

article#login__form_container a {
  color: var(--secondary);
}

article#login__form_container a:hover {
  color: #3fc2ee;
}

article#login__form_container input {
  outline: none;
  border: 1px solid lightgray;
  width: 100%;
  padding: 0.75rem 0.5rem;
  border-radius: 0.25rem;
}

article#login__form_container #login__loginBtn, 
article#login__form_container #login__registerBtn {
  width: 50%;
  background-color: var(--secondary);
  color: var(--tertiary);
  padding: 10px;
  margin: 5px 0px 10px 0px;
}

article#login__form_container #login__loginBtn:hover, 
article#login__form_container #login__registerBtn:hover {
  background-color: var(--secondary_hover);
  cursor: pointer;
}

/* Styling Register Role Selector */
article#login__form_container select {
  width: 107%;
  background-color: var(--tertiary);
  padding: 0.75rem 0.5rem; 
  box-sizing: border-box; 
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  outline: none;
  color: var(--secondary);
  appearance: none; 
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
  padding-right: 2rem;
}

/* Hover effect */
article#login__form_container select:hover {
  border-color: var(--secondary);
}

/* focus effect */
article#login__form_container select:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Styling options inside select */
article#login__form_container select option {
  background-color: var(--tertiary);
  color: var(--secondary);
}

p{
  font-size: small;
}

p#register__success_label{
    color: #00d300;
    font-weight: 600;
}

.error-message{
    color: red;
}